In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Load the dataset
dataset = pd.read_csv('dataset.csv')

In [3]:
# lets take a look at the data
dataset.head()

   time  score  label
0    24      4    NaN
1    16      5    NaN
2    15      1    NaN
3    24      5    NaN
4    22     10    NaN

In [4]:
#check which column has null values
dataset.isnull().sum()

time        0
score       0
label    3083
dtype: int64

In [5]:
# get a statistical summary of the data
dataset.describe()

              time        score  label
count  3083.000000  3083.000000    0.0
mean     25.144989     5.090496    NaN
std      14.268836     3.215379    NaN
min       1.000000     0.000000    NaN
25%      13.000000     2.000000    NaN
50%      25.000000     5.000000    NaN
75%      37.000000     8.000000    NaN
max      50.000000    10.000000    NaN

In [6]:
print('Number of rows', dataset.shape[0])
print('Number of columns', dataset.shape[1])

Number of rows 3083
Number of columns 3

In [10]:
# lets look at the column with null values
label_nan = dataset.label.isnull().sum()
pct = (label_nan/dataset.shape[0]) * 100
print('The percentage of the missing values in the label column: {}%'. format(pct))

The percentage of the missing values in the label column: 100.0%

In [11]:
# use the following condition to label the data
dataset['label'] = np.where( ((dataset.score >= 8) & (dataset.time <= 25)), 'no_threat', dataset['label'])

dataset['label'] = np.where( ((dataset.score >= 6) & (dataset.time <= 38)), 'medium_threat', dataset['label'])

dataset['label'] = np.where( ((dataset.score < 6 ) | (dataset.time > 38)), 'threat', dataset['label'])

In [12]:
#check the data to see if the labelling worked
dataset.sample(10)

      time  score          label
2705     1      3         threat
285     15      8  medium_threat
879      5      7  medium_threat
1279    11      6  medium_threat
359     47      4         threat
1459    47      3         threat
2985    26      3         threat
2412     1      5         threat
1211     9      4         threat
275      2      7  medium_threat

In [34]:
Threats = dataset[((dataset.score < 6 ) | (dataset.time > 38))]
Threats['label'].unique()

array(['threat'], dtype=object)

In [13]:
#check to see if the conditions are met

medium_threat = dataset[((dataset.score >= 6) & (dataset.time <= 38))]
medium_threat['label'].unique()

array(['medium_threat'], dtype=object)

In [38]:
no_threat = dataset[((dataset.score >= 8) & (dataset.time <= 25))]
no_threat.label.unique()

array(['medium_threat'], dtype=object)

In [40]:
no_threat.sample(10)

      time  score          label
1660    20      9  medium_threat
888      3      8  medium_threat
1772    21     10  medium_threat
616     25     10  medium_threat
876     16     10  medium_threat
2043    15      8  medium_threat
1575    15     10  medium_threat
2744    19      9  medium_threat
2352     1      9  medium_threat
32      18      9  medium_threat

In [16]:
#save the labelled data to the working directory
dataset.to_csv('File1.csv')